<div id="workspace" class="container mx-auto px-4">
    <div class="flex flex-row p-1 w-full">
        <div class="basis-3/4 flex flex-col p-1 w-full min-h-[80svh]">
            <label class="text-xl text-black"> {{ agent_name }} </label>
            {{ chat_textarea }}
            {{ stream_output }}

            <div class="flex flex-col w-full">
                <label class="text-xl text-black">Query</label>
                <div class="flex flex-row w-full">
                    {{ query_text_input }}
                    <div class="flex-col w-1/6 p-1">
                        <div class="p-1">
                            {{ query_button }}
                        </div>
                        <div class="p-1">
                            {{asset_search_button}}
                        </div>
                        <div class="p-1">
                            <a href="/api/chat/{{chat_id}}/download" download="chat.json">
                                <button class="btn btn-sm btn-outline btn-primary w-full h-min p-1 join-item"> Download </button>
                            </a>
                        </div>
                        <div class="p-1">
                            <button class="btn btn-sm btn-outline btn-primary w-full h-min p-1 join-item"
                                hx-get="/api/agent/{{agent_id}}/use" hx-swap="none" hx-trigger="click"> New Session </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="basis-1/4 flex flex-col p-1 w-full min-h-[80svh]">
            <label class="text-xl text-black"> Supporting Context </label>
            {{asset_search_output}}
            <!-- <textarea class="flex-1 border-2 mb-1 border-gray-600 bg-gray-400 text-black rounded-lg p-1 min-h-[70svh]"></textarea> -->
        </div>
    </div>
</div>