<div>
    <div>
        <div hx-get="/api/check_user" hx-trigger="load" hx-swap=""></div>
        <sl-split-panel vertical position-in-pixels="50" style="--max: 50px" id="m_panel">
            <div slot="start"
                style="height: 100%; width:100%; background: #585858; display: flex; align-items: center; justify-content: start; overflow: hidden;">
                <p class="text-2xl mx-3 my-1"><a class="link" href="https://github.com/cschin/ai-gent-smith" target="_blank" rel="noopener noreferrer">AI Gent
                        Smith</a></p>
            </div>

            <div slot="end"
                style="height: 100%; width:100%; background: var(--sl-color-neutral-50); display: flex; overflow: hidden;">
                <sl-split-panel snap="0px 150px 220px" position-in-pixels="220" style="width:100%; --max: 220px;">
                    <div slot="start"
                        style="height: 100%; background: #6f8975; display: flex; align-items: start; justify-content:start; overflow: hidden;">
                        <div class="container flow flow-col">
                            <div class="collapse collapse-arrow">
                                <input type="radio" name="side-accordion" checked="checked" />
                                <div class="collapse-title text-xl font-medium">Agent Setting</div>
                                <div class="collapse-content">
                                    <!-- <div class="container w-full flex flex-col my-1 mx-2 p-2"> -->
                                    {% for value in agent_buttons %}
                                    {{ value }}
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="collapse collapse-arrow">
                                <input type="radio" name="side-accordion" />
                                <div class="collapse-title text-xl font-medium">Sessions</div>
                                <div class="collapse-content">
                                    <!-- <div class="container w-full flex flex-col my-1 mx-2 p-2"> -->
                                    {% for value in sessions_buttons %}
                                    {{ value }}
                                    {% endfor %}
                                    <!-- </div> -->
                                </div>
                            </div>
                            <div class="collapse collapse-arrow">
                                <input type="radio" name="side-accordion" />
                                <div class="collapse-title text-xl font-medium">Assets</div>
                                <div class="collapse-content">
                                    <!-- <div class="container w-full flex flex-col my-1 mx-2 p-2"> -->
                                    {% for value in assets_buttons %}
                                    {{ value }}
                                    {% endfor %}
                                    <!-- </div> -->
                                </div>
                            </div>
                            <div class="collapse collapse-arrow">
                                <input type="radio" name="side-accordion" />
                                <div class="collapse-title text-xl font-medium">User Setting</div>
                                <div class="collapse-content">
                                    <button class="btn btn-sm btn-block m-1 min-w-36"
                                        onclick="logout_confirm.showModal()">Logout</button>
                                </div>
                            </div>
                            <!-- <div class="collapse collapse-arrow">
                                <input type="radio" name="side-accordion" />
                                <div class="collapse-title text-xl font-medium">Asset Collections</div>
                                <div class="collapse-content">
                                    <ul>
                                        <li><div class="btn" hx-get="/api/asset/0/show" hx-swap="none" hx-trigger="click">FDA Cosmetic Guidance Collection</div></li>
                                    </ul>
                                </div>
                            </div> -->
                            <!-- <div class="collapse collapse-arrow">
                                <input type="radio" name="side-accordion" />
                                <div class="collapse-title text-xl font-medium">Tools</div>
                                <div class="collapse-content">
                                    <ul>
                                        <li>Python</li>
                                        <li>Database Query</li>
                                        <li>Web Search</li>
                                    </ul>
                                </div>
                            </div> -->
                        </div>

                    </div>

                    <div slot="end"
                        style="height: 100%; width:100%; background: #a2a2a2; display:flex; align-items: flex-start; justify-content:stretch; overflow: auto;">

                        <div class="container mx-auto w-full h-[90svh] p-1">
                            {{library_cards}}
                        </div>

                    </div>
                </sl-split-panel>
            </div>
        </sl-split-panel>
    </div>
</div>

<dialog id="logout_confirm" class="modal">
    <div class="modal-box">
        <h3 class="font-bold text-lg">Logout?</h3>
        <p class="py-4">Unsaved results will be lost if you logout!!</p>
        <div class="modal-action">
            <button class="btn btn-sm" onclick='window.open("/logout")'>logout</button>
            <form method="dialog">
                <!-- if there is a button in form, it will close the modal -->
                <button class="btn btn-sm">Close</button>
            </form>
        </div>
    </div>
</dialog>

<dialog id="update_agent_notification" class="modal">
    <div class="modal-box">
        <div id="update_agent_notification_msg">
            <div>
                <p class="py-4">Agent Creation Fails</p>
            </div>
            <div class="modal-action">
                <form method="dialog">
                    <!-- if there is a button in form, it will close the modal -->
                    <button class="btn btn-sm">Close</button>
                </form>
            </div>
        </div>
    </div>
</dialog>

<!-- This needs to be in app_page.html, or it fails to work the 2nd time.-->
<dialog id="create_asset_notification" class="modal">
    <div class="modal-box">
        <div id="create_asset_notification_msg">
            <p class="py-4">Asset Collection Creation Fails</p>
        </div>
        <div class="modal-action">
            <form method="dialog">
                <!-- if there is a button in form, it will close the modal -->
                <button class="btn btn-sm" onclick='document.querySelector("#show_asset_btn").click()'>Close</button>
            </form>
        </div>
    </div>
</dialog>

<dialog id="env_var_setting_notification" class="modal">
    <div class="modal-box">
        <div id="env_var_setting_notification_msg">
            <p class="py-4">Missing Environmental Variable</p>
        </div>
        <div class="modal-action">
            <form method="dialog">
                <!-- if there is a button in form, it will close the modal -->
                <button class="btn btn-sm">Close</button>
            </form>
        </div>
    </div>
</dialog>



<script>
    function checkSession() {
        fetch('/api/service/session-check')
            .then(response => {
                if (response.status === 401) { // 401 Unauthorized means session expired
                    alert('Your session has expired. Click to reload the window to get a new session.');
                    window.location.replace('/'); // Redirect to login page
                }
            })
            .catch(error => {
                // When using Cognito, the fetch() will fail when the session is ended.
                alert('Your session has expired and you are logged out. Please log in again.');
                window.location.replace('/');
            }
            );
    }
    setInterval(checkSession, 1 * 30 * 1000);

    window.addEventListener("pageshow", function (event) {
        if (event.persisted) {
            // If the page is restored from the cache (back/forward navigation), force a reload
            window.location.replace('/');
            //window.location.reload();
        }
    });


    document.body.addEventListener("show_env_var_setting_notification", function(evt){
        document.getElementById("env_var_setting_notification").showModal()
        
    })
</script>

<footer style="align-items: flex-end; text-align: right; background: #585858;">
    <p class="my-1 mx-4">
        OmicSight
    <p>
</footer>