<div>
    <div>
        <div hx-get="/api/check_user" hx-trigger="load" hx-swap=""></div>
        <sl-split-panel vertical position-in-pixels="50" style="--max: 50px" id="m_panel">
            <div slot="start"
                style="height: 100%; width:100%; background: #585858; display: flex; align-items: center; justify-content: start; overflow: hidden;">

                <p class="text-2xl mx-3 my-1">AI-gent Smith</p>

            </div>

            <div slot="end"
                style="height: 100%; width:100%; background: var(--sl-color-neutral-50); display: flex; overflow: hidden;">
                <sl-split-panel snap="0px 150px 220px" position-in-pixels="220" style="width:100%; --max: 220px;">

                    <div slot="start"
                        style="height: 100%; background: #6f8975; display: flex; align-items: start; justify-content:start; overflow: hidden;">
                        <div class="container flow flow-col">
                            <div class="collapse collapse-arrow">
                                <input type="radio" name="side-accordion" checked="checked" />
                                <div class="collapse-title text-xl font-medium">Agent Setting</div>
                                <div class="collapse-content">
                                    <!-- <div class="container w-full flex flex-col my-1 mx-2 p-2"> -->
                                    {% for value in agent_buttons %}
                                    {{ value }}
                                    {% endfor %}
                                    <button class="btn btn-sm btn-block m-1 min-w-36"
                                        onclick="logout_confirm.showModal()">Logout</button>
                                    <!-- </div> -->
                                </div>
                            </div>
                            <div class="collapse collapse-arrow">
                                <input type="radio" name="side-accordion" />
                                <div class="collapse-title text-xl font-medium">Sessions</div>
                                <div class="collapse-content">
                                    <!-- <div class="container w-full flex flex-col my-1 mx-2 p-2"> -->
                                    {% for value in sessions_buttons %}
                                    {{ value }}
                                    {% endfor %}
                                    <!-- </div> -->
                                </div>
                            </div>
                            <div class="collapse collapse-arrow">
                                <input type="radio" name="side-accordion" />
                                <div class="collapse-title text-xl font-medium">Asset Collections</div>
                                <div class="collapse-content">
                                    <ul>
                                        <li>Book</li>
                                        <li>Paper</li>
                                        <li>Example</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div slot="end"
                        style="height: 100%; width:100%; background: #a2a2a2; display:flex; align-items: flex-start; justify-content:stretch; overflow: auto;">

                        <div class="container mx-auto w-full h-svh p-1">
                            {{library_cards}}
                        </div>

                    </div>
                </sl-split-panel>
            </div>
        </sl-split-panel>
    </div>
</div>
<dialog id="logout_confirm" class="modal">
    <div class="modal-box">
        <h3 class="font-bold text-lg">Logout?</h3>
        <p class="py-4">Unsaved results will be lost if you logout!!</p>
        <div class="modal-action">
            <button class="btn btn-sm" onclick='window.open("/logout")'>logout</button>
            <form method="dialog">
                <!-- if there is a button in form, it will close the modal -->
                <button class="btn btn-sm">Close</button>
            </form>
        </div>
    </div>
</dialog>

<dialog id="update_agent_notification" class="modal">
    <div class="modal-box">
        <div id="update_agent_notification_msg">
            <p class="py-4">A New Agent Created</p>
        </div>
        <div class="modal-action">
            <form method="dialog">
                <!-- if there is a button in form, it will close the modal -->
                <button class="btn btn-sm" onclick='document.querySelector("#show_agent_btn").click()'>Close</button>
            </form>
        </div>
    </div>
</dialog>

<footer style="align-items: flex-end; text-align: right; background: #585858;">
    <p class="my-1 mx-4">
        OmicSight
    <p>
</footer>