states = ["StandBy", "InitialResponse", "FollowUp"]

transitions = [["StandBy", "StandBy"], 
               ["StandBy", "InitialResponse"], 
               ["StandBy", "FollowUp"], 
               ["InitialResponse", "FollowUp"], 
               ["InitialResponse", "StandBy"], 
               ["FollowUp", "FollowUp"], 
               ["FollowUp", "StandBy"]]

initial_state = "StandBy"

## sys_prompt
{{ sys_prompt }}

summary_prompt = """
Your task is to take a current summary of the conversation and new user and assistant messages to create new summary weighed in more on the last couple of messages. If there is no current summary, just use the last massage to summarize. Generate the summary no more than 500 words.
 Here is the current summary:"""

fsm_prompt = '''
Please determine the next state from the message and the current state.

There are three possible states:
1. InitialResponse
2. FollowUp
3. StandBy

The possible transitions are

Standby -> Standby
Standby -> InitialResponse
Standby -> FollowUp
InitialResponse -> FollowUp
InitialResponse -> StandBy
FollowUp -> FollowUp
FollowUp -> StandBy

You should output your results in a JSON format. 

The JSON format should be like 
{"next_state": suggested next state}

The "suggested next state" should be a single string with quote properly escaped. 

The suggested next state should be one of the "InitialResponse", "FollowUp", and "StandBy", and it can NOT be empty. This is very important.

THe OUTPUT SHOULD BE JUST VALID JSON STRING WITHOUT any quote string or markdown formatting string. Please check it is a valid and pure json string. This is extremely important. Make sure using the right escape for control characters when it is necessary. For example, the output should be just

{"next_step": STATE}, where the STATE can be "Standby", "InitialResponse", "FollowUp"

NEVER output markdown format like
```json
{"next_step": STATE}
```
'''

[prompts]
{{ follow_up }}
InitialResponse = "Your goal to start to response to the user and determine if the question from the conversation is clear or you need to ask some follow up questions to gain additional information."
StandBy = "Your goal to let the user know that you are ready to take a new question. You should welcome the user and encourage the user to ask new question. If the user has asked a question, welcome and answer the question."