states = [
"StandBy",
"Generate",
"MakeSummary",
"Finish"]

transitions = [
["StandBy",
"Generate"],
["Generate",
"MakeSummary"],
["MakeSummary", "Finish"]
]

initial_state = "StandBy"
## the following system_prompt is actually not use but it helps to save the prompt in the database now
system_prompt = "{{ system_prompt }}" 
fsm_prompt = "" 
summary_prompt = ""

[state_prompts.StandBy]
system = ""
#fsm = """JUST output a json string {"next_state": "Retrieval"}"""


[state_prompts.Generate]
system = """

Here is a question or a task from a user:  {% raw %} {{ task }} {% endraw %} 

Here is a set context or fact
 <CONTEXT> 
 {% raw %} {{ context }} {% endraw %} 
 </CONTEXT>

Here is a summary of the previous conversation
<SUMMARY>
 {% raw %} {{ summary }} {% endraw %}  
</SUMMARY>

Please answer the user's question or solve the task according to the following instructions:

you can start with "Here is what I think...." or "I am here to help you ..." but it is not necessary.

{{ system_prompt }} 


"""


fsm = """JUST output a json string {"next_state": "MakeSummary"}"""


[state_prompts.MakeSummary]

system = """
You are an expert taking note and making summary for conversation. 
You are given a summary from earlier conversation:
<SUMMARY>
 {% raw %}  summary  {% endraw %} 
</SUMMARY>
Update the summary with new conversation.
No more than 300 words.
Generate the response starting with "This is the current summary: ..."

"""



[state_config.StandBy]
# don't make chat request but making the fsm transition request
disable_llm_request = true


[state_config.Generate]
use_task = true
use_context = true
use_summary = true
# ignore_messages = true

[state_config.MakeSummary]
save_to_summary = true
ignore_llm_output = true

[state_config.Finish]
disable_llm_request = true        